# LLM dependencies
langchain==1.0.2
langchain-ollama==1.0.0

# Web scraping
beautifulsoup4==4.14.3
markdownify==1.2.3
playwright==1.55.0
scrapy==2.13.3
scrapy-playwright==0.0.44

# Database
sqlalchemy==2.0.44
psycopg2-binary==2.9.11
redis==7.1.0

# Environment
pytest==9.0.3
python-dotenv==1.2.1