.label {
  font: var(--font-weight-normal) var(--font-size-2xs)/var(--line-height-xs)
    var(--font-mono);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-wide);
  color: var(--faint);
}
